@import "compass/css3";

#init-screen {
	h1, h2 {
		color: white;
		text-align: center;
		margin: 0;
	}
	h1 {
		font-size: 1.5em;
		position: absolute;
		top: 400px;
		width: 976px;
		height: 50px;
		line-height: 50px;
	}
	width: 976px;
	height: 720px;
	padding: 24px;
	background: url('../images/1/background.png') left top no-repeat;
	background-size: 100% auto;
	position: relative;
	#progress-bar {
		position: absolute;
		left: 208px;
		top: 450px;
		width: 617px;
		height: 82px;
		background: url('../images/1/progress-bar.png') left top no-repeat;
		background-size: 100% auto;
		z-index: 100;
	}
	#blue-diamonds {
		position: absolute;
		left: 208px;
		top: 450px;
		width: 617px;
		height: 82px;
		background: url('../images/1/blue-diamonds.png') left top no-repeat;
		background-size: 100% auto;
		z-index: 300;
	}
	#progress-indicator {
		width: 510px;
		height: 20px;
		position: absolute;
		left: 261px;
		top: 482px;
		z-index: 200;
		#inner-indicator {
			width: 0;
			height: 20px;
			background: #180909;
		}
		h2 {
			width: 510px;
			height: 20px;
			line-height: 20px;
			font-size: .9em;
			font-weight: normal;
			margin-top: -20px
		}
	}
}