@import "compass/css3";

#shuffle-puzzle {
	width: 976px;
	height: 720px;
	padding: 24px;
	background: url('../images/3/background.png') left top no-repeat;
	background-size: 100% auto;
	position: relative;
	.box {
		position: relative;
		-webkit-transform: translate3d(0,0,0);
		-moz-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		-o-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		.item {
			position: absolute;
			background-position: left top;
			background-repeat: no-repeat;
			background-size: 100% auto;
			-webkit-transform: translate3d(0,0,0);
			-moz-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			-o-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
		}
		&.pull-left {
			margin-top: 168px;
			margin-left: 95px;
		}
		&.pull-right {
			margin-top: 169px;
			margin-right: 88px;
		}
		.jar {
			background-image: url('../images/3/items/jar.png');
		}
		.symbol {
			background-image: url('../images/3/items/symbol.png');
		}
		.hawk-egg {
			background-image: url('../images/3/items/hawk-egg.png');
		}
		.root {
			background-image: url('../images/3/items/root.png');
		}
		.hourglass {
			background-image: url('../images/3/items/hourglass.png');
		}
		.herbs {
			background-image: url('../images/3/items/herbs.png');
		}
		.potion {
			background-image: url('../images/3/items/potion.png');
		}
		.globe {
			background-image: url('../images/3/items/globe.png');
		}
		.mineral-stone {
			background-image: url('../images/3/items/mineral-stone.png');
		}
		.butterfly {
			background-image: url('../images/3/items/butterfly.png');
		}
		.bird-skull {
			background-image: url('../images/3/items/bird-skull.png');
		}
		.amulet {
			background-image: url('../images/3/items/amulet.png');
		}
		.ogre-meat {
			background-image: url('../images/3/items/ogre-meat.png');
		}
		.claw {
			background-image: url('../images/3/items/claw.png');
		}
		.flower {
			background-image: url('../images/3/items/flower.png');
		}
		.vampiric-urne {
			background-image: url('../images/3/items/vampiric-urne.png');
		}
		.blue-crystal {
			background-image: url('../images/3/items/blue-crystal.png');
		}
		.mushroom {
			background-image: url('../images/3/items/mushroom.png');
		}
		.knife {
			background-image: url('../images/3/items/knife.png');
		}
		.bag {
			background-image: url('../images/3/items/bag.png');
		}
		.scroll {
			background-image: url('../images/3/items/scroll.png');
		}
		.key {
			background-image: url('../images/3/items/key.png');
		}
		.ring {
			background-image: url('../images/3/items/ring.png');
		}
		.books {
			background-image: url('../images/3/items/books.png');
		}
	}
}