@import "compass/css3";

#shuffle-puzzle {
	width: 976px;
	height: 720px;
	padding: 24px;
	background: url('/images/3/background.png') left top no-repeat;
	background-size: 100% auto;
	position: relative;
	.box {
		background: grey;
		position: relative;
		.ingredient {
			position: absolute;
			background: black;
			text-align: center;
		}
		&.pull-left {
			margin-top: 168px;
			margin-left: 95px;
		}
		&.pull-right {
			margin-top: 169px;
			margin-right: 88px;
		}
	}
}