@import "compass/css3";

#spot-the-difference-puzzle {
	width: 976px;
	height: 720px;
	padding: 24px;
	background: url('/images/2/background.png') left top no-repeat;
	background-size: 100% auto;
	position: relative;
	#level, #time, #score {
		position: absolute;
		width: 100px;
		height: 25px;
		color: white;
		text-align: center;
	}
	#level {
		top: 17px;
		left: 64px;
	}
	#time {
		top: 25px;
		left: 465px;
	}
	#score {
		top: 17px;
		left: 847px;
	}
	.item {
		position: absolute;
		background-position: left top;
		background-repeat: no-repeat;
		background-size: 100% auto;
		width: 104px;
		height: 73px;
	}
	#jar {
		width: 55px;
		heght: 65px;
		background-image: url('/images/2/items/jar.png');
		left: 915px;	
		top: 98px;
	}
	#symbol {
		width: 70px;
		height: 70px;
		background-image: url('/images/2/items/symbol.png');
		left: 876px;	
		top: 216px;
	}
	#hawk-egg {
		width: 75px;
		height: 65px;
		background-image: url('/images/2/items/hawk-egg.png');
		left: 568px;	
		top: 128px;
	}
	#root {
		width: 85px;
		height: 55px;
		background-image: url('/images/2/items/root.png');
		left: 665px;	
		top: 133px;
	}
	#hourglass {
		width: 40px;
		height: 65px;
		background-image: url('/images/2/items/hourglass.png');
		left: 760px;	
		top: 119px;
	}
	#herbs {
		width: 100px;
		height: 60px;
		background-image: url('/images/2/items/herbs.png');
		left: 569px;	
		top: 225px;
	}
	#potion {
		width: 50px;
		height: 65px;
		background-image: url('/images/2/items/potion.png');
		left: 688px;	
		top: 194px;
	}
	#globe {
		width: 65px;
		height: 60px;
		background-image: url('/images/2/items/globe.png');
		left: 750px;	
		top: 197px;
	}
	#mineral-stone {
		width: 100px;
		height: 60px;
		background-image: url('/images/2/items/mineral-stone.png');
		left: 565px;	
		top: 295px;
	}
	#butterfly {
		width: 60px;
		height: 60px;
		background-image: url('/images/2/items/butterfly.png');
		left: 670px;	
		top: 304px;
	}
	#bird-skull {
		width: 100px;
		height: 60px;
		background-image: url('/images/2/items/bird-skull.png');
		left: 738px;	
		top: 291px;
	}
	#amulet {
		width: 160px;
		height: 80px;
		background-image: url('/images/2/items/amulet.png');
		left: 566px;
		top: 384px;
	}
	#ogre-meat {
		width: 90px;
		height: 70px;
		background-image: url('/images/2/items/ogre-meat.png');
		left: 730px;	
		top: 379px;
	}
	#claw {
		width: 60px;
		height: 65px;
		background-image: url('/images/2/items/claw.png');
		left: 590px;	
		top: 476px;
	}
	#flower {
		width: 60px;
		height: 80px;
		background-image: url('/images/2/items/flower.png');
		left: 720px;	
		top: 494px;
	}
	#vampiric-urne {
		width: 100px;
		height: 70px;
		background-image: url('/images/2/items/vampiric-urne.png');
		left: 893px;	
		top: 501px;
	}
	#blue-crystal {
		width: 60px;
		height: 45px;
		background-image: url('/images/2/items/blue-crystal.png');
		left: 560px;	
		top: 640px;
	}
	#mushroom {
		width: 60px;
		height: 73px;
		background-image: url('/images/2/items/mushroom.png');
		left: 645px;	
		top: 606px;
	}
	#knife {
		width: 125px;
		height: 30px;
		background-image: url('/images/2/items/knife.png');
		left: 733px;	
		top: 654px;
	}
	#bag {
		width: 65px;
		height: 65px;
		background-image: url('/images/2/items/bag.png');
		left: 882px;	
		top: 612px;
	}
}